

.auth-form__heading {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 100%;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 480px) {
  .auth-form-heading {
    font-size: 18px;
    line-height: 1.2;
    margin: 25px auto 75px;
    width: 83.5%
  }
}