
.popup__form-fieldset {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
}


@media screen and (max-width: 530px) {
  .popup__form-fieldset {
    width: 83.5%;
    margin: auto;
  }
}