
.content__elements-section {
  margin: 51px auto 67px;
}

@media screen and (max-width: 768px) {
  .content__elements-section {
    margin: 30px auto 40px;
  }
}

@media screen and (max-width: 425px) {
  .content__elements-section {
    margin: 36px auto 48px;
  }
}
