
.element__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  background-color: #C4C4C4;
  border-radius: 10px 10px 0 0;
  vertical-align: middle;
  transition: opacity .3s ease;
}

.element__image:hover {
  opacity: 0.6;
  cursor: pointer;
}
