
.profile {
  display: grid;
  grid-template-columns: max-content minmax(min-content, max-content) auto;
  grid-column-gap: 30px;
}

@media screen and (max-width: 950px) {
  .profile {
    width: 100%;
    grid-template: max-content max-content / max-content minmax(min-content, calc(100% - 138px));
    grid-template-areas:
    "avatar info"
    "add-button add-button";
    grid-gap: 15px;
  }
}

@media screen and (max-width: 680px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    width: 100%;
  }
}
