
.auth-form__signin-link_active {
  text-decoration: none;
  margin-left: 5px;
  color: white;
  transition: opacity .3s ease;
}

.auth-form__signin-link_active:hover {
  opacity: .6;
  cursor: pointer;
}