
.element__trash-button {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 18px;
  right: 15px;
  background-image: url(../../../images/trash-button.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0;
  border: none;
  transition: opacity .3s ease;
}

.element__trash-button:hover {
  opacity: .5;
  cursor: pointer;
}

