
.header__link {
  color: rgba(169, 169, 169, 1);
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  margin: 0 0 41px 0;
  align-self: center;
  text-decoration: none;
  text-align: right;
  transition: opacity .3s ease;
}

.header__link:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .header__link {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 425px) {
  .header__link {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 375px) {
  .header__link {
    margin-right: 0;
  }
}