
.popup__form-item {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: black;
  padding: 0 0 13px 0;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 358px;
  outline: none;
}

.popup__form-item::placeholder {
  color: #C4C4C4;
}

.popup__form-item::-webkit-input-placeholder {
  color: #C4C4C4;
}

.popup__form-item:-moz-placeholder {
  color: #C4C4C4;
}

.popup__form-item::-ms-input-placeholder {
  color: #C4C4C4;
}

@media screen and (max-width: 480px) {
  .popup__form-item {
    width: 83.5%;
  }
}

