
.profile__avatar-container {
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.profile__avatar-container::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  background-image: url('../../../images/avatar_edit-button.svg');
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity .3s linear;
}

.profile__avatar-container:hover:before {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .profile__avatar-container {
    grid-area: avatar;
  }
}

@media screen and (max-width: 680px) {
  .profile__avatar-container {
    margin-bottom: 26px;
  }
}
