
.element__like-button {
  width: 22px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: url(../../../images/element_like_button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  /*margin-right: 7px;*/
  padding: 0;
  border: none;
  transition: opacity .3s ease;
}

.element__like-button:hover {
  opacity: .5;
  cursor: pointer;
}
